USE [master]
GO
/****** Object:  Database [ZenOS]    Script Date: 3/3/2026 3:56:08 PM ******/
CREATE DATABASE [ZenOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZenOS', FILENAME = N'D:\SourceCode\ZenOSProject\ZenOSDatabase\ZenOS.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ZenOS_log', FILENAME = N'D:\SourceCode\ZenOSProject\ZenOSDatabase\ZenOS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZenOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZenOS]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NULL,
	[StoreId] [uniqueidentifier] NULL,
	[EmployeeId] [uniqueidentifier] NULL,
	[AppointmentCode] [varchar](50) NULL,
	[AppointmentDate] [datetime] NULL,
	[AppointmentStatus] [varchar](50) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Appointments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApprovalActions]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApprovalActions](
	[Id] [uniqueidentifier] NOT NULL,
	[ApprovalRequestId] [uniqueidentifier] NULL,
	[ApprovalStepId] [uniqueidentifier] NULL,
	[ActionById] [uniqueidentifier] NULL,
	[ActionType] [varchar](50) NULL,
	[ActionRoleCode] [varchar](50) NULL,
	[ActionAt] [datetime] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ApprovalActions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApprovalFlows]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApprovalFlows](
	[Id] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[FlowCode] [varchar](50) NULL,
	[FlowName] [nvarchar](250) NULL,
	[FlowCategory] [varchar](50) NULL,
	[ApplicableEntity] [varchar](100) NULL,
	[TriggerCondition] [nvarchar](500) NULL,
	[MaxApprovalLevel] [int] NULL,
	[AllowSkipLevel] [bit] NULL,
	[AllowAutoApprove] [bit] NULL,
	[AutoApproveRule] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ApprovalFlows] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApprovalRequests]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApprovalRequests](
	[Id] [uniqueidentifier] NOT NULL,
	[ApprovalFlowId] [uniqueidentifier] NULL,
	[RequestedById] [uniqueidentifier] NULL,
	[RequestCode] [varchar](50) NULL,
	[EntityType] [varchar](50) NULL,
	[EntityId] [uniqueidentifier] NULL,
	[RequestTitle] [nvarchar](250) NULL,
	[RequestReason] [nvarchar](500) NULL,
	[RequestStatus] [varchar](50) NULL,
	[CurrentStepOrder] [int] NULL,
	[SubmittedAt] [datetime] NULL,
	[CompletedAt] [datetime] NULL,
	[CancelledAt] [datetime] NULL,
	[CancelledReason] [nvarchar](500) NULL,
	[ApprovalDeadlineAt] [datetime] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ApprovalRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApprovalStepAssignments]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApprovalStepAssignments](
	[Id] [uniqueidentifier] NOT NULL,
	[ApprovalRequestId] [uniqueidentifier] NULL,
	[ApprovalStepId] [uniqueidentifier] NULL,
	[ApproverId] [uniqueidentifier] NULL,
	[DelegatedFromId] [uniqueidentifier] NULL,
	[AssignmentStatus] [varchar](50) NULL,
	[AssignedAt] [datetime] NULL,
	[ActedAt] [datetime] NULL,
	[SLADeadlineAt] [datetime] NULL,
	[IsDelegated] [bit] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ApprovalStepAssignments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApprovalSteps]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApprovalSteps](
	[Id] [uniqueidentifier] NOT NULL,
	[ApprovalFlowId] [uniqueidentifier] NULL,
	[StepOrder] [int] NULL,
	[StepName] [nvarchar](250) NULL,
	[ApproverRoleCode] [varchar](50) NULL,
	[ApproverScope] [varchar](50) NULL,
	[ApproverRule] [nvarchar](500) NULL,
	[IsParallel] [bit] NULL,
	[RequireAllApprovers] [bit] NULL,
	[AllowReject] [bit] NULL,
	[AllowEditRequest] [bit] NULL,
	[SLAHours] [int] NULL,
	[OnRejectAction] [varchar](50) NULL,
	[OnApproveAction] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ApprovalSteps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_ ContractTypes]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_ ContractTypes](
	[Id] [uniqueidentifier] NOT NULL,
	[ContractTypeCode] [varchar](50) NULL,
	[ContractTypeName] [nvarchar](250) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Cat_ ContractTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_Countries]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_Countries](
	[Id] [uniqueidentifier] NOT NULL,
	[CountryCode] [varchar](50) NULL,
	[CountryName] [nvarchar](250) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_Department]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_Department](
	[Id] [uniqueidentifier] NOT NULL,
	[DepartmentCode] [varchar](50) NULL,
	[DepartmentName] [nvarchar](250) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_DepartmentCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_IngredientCategories]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_IngredientCategories](
	[Id] [uniqueidentifier] NOT NULL,
	[IngredientCateCode] [varchar](50) NULL,
	[IngredientCateName] [nvarchar](250) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_IngredientCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_JobTitle]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_JobTitle](
	[Id] [uniqueidentifier] NOT NULL,
	[JobTitleCode] [varchar](50) NULL,
	[JobTitleName] [nvarchar](250) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_JobTitleCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_LeaveTypes]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_LeaveTypes](
	[Id] [uniqueidentifier] NOT NULL,
	[LeaveTypeCode] [varchar](50) NULL,
	[LeaveTypeName] [nvarchar](250) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_LeaveTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_MembershipLevels]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_MembershipLevels](
	[Id] [uniqueidentifier] NOT NULL,
	[LevelCode] [varchar](50) NULL,
	[LevelName] [nvarchar](100) NULL,
	[RankOrder] [int] NULL,
	[ThresholdPoint] [int] NULL,
	[DiscountRate] [decimal](5, 2) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_MembershipLevels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_ProductCategories]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_ProductCategories](
	[Id] [uniqueidentifier] NOT NULL,
	[ProductCateCode] [varchar](50) NULL,
	[ProductCateName] [nvarchar](250) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ProductCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_Provinces]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_Provinces](
	[Id] [uniqueidentifier] NOT NULL,
	[CountryCatId] [uniqueidentifier] NULL,
	[ProvinceCode] [varchar](50) NULL,
	[ProvinceName] [nvarchar](250) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Provinces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_SupplierCategories]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_SupplierCategories](
	[Id] [uniqueidentifier] NOT NULL,
	[SupplierCateCode] [varchar](50) NULL,
	[SupplierCateName] [nvarchar](250) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_SupplierCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_Units]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_Units](
	[Id] [uniqueidentifier] NOT NULL,
	[UnitCode] [varchar](50) NULL,
	[UnitName] [nvarchar](250) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Units] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_Wards]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_Wards](
	[Id] [uniqueidentifier] NOT NULL,
	[ProvinceCatId] [uniqueidentifier] NULL,
	[WardCode] [varchar](50) NULL,
	[WardName] [nvarchar](250) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Wards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CodeSequences]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CodeSequences](
	[Id] [uniqueidentifier] NOT NULL,
	[EntityName] [varchar](50) NULL,
	[Prefix] [varchar](10) NULL,
	[EntityValue] [int] NULL,
 CONSTRAINT [PK_CodeSequences] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComboItems]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComboItems](
	[Id] [uniqueidentifier] NOT NULL,
	[ComboId] [uniqueidentifier] NULL,
	[ProductId] [uniqueidentifier] NULL,
	[Quantity] [int] NULL,
	[ExtraPrice] [decimal](18, 4) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ComboItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Combos]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Combos](
	[Id] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[ComboCode] [varchar](50) NULL,
	[ComboName] [nvarchar](250) NULL,
	[BasePrice] [decimal](18, 4) NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Combos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contracts](
	[Id] [uniqueidentifier] NOT NULL,
	[EmployeeId] [uniqueidentifier] NULL,
	[ContractTypeCatId] [uniqueidentifier] NULL,
	[ContractCode] [varchar](50) NULL,
	[ContractName] [nvarchar](250) NULL,
	[ContractStatus] [varchar](50) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[BaseSalary] [decimal](18, 2) NULL,
	[SalaryUnit] [varchar](50) NULL,
	[WorkingHoursPerWeek] [decimal](5, 2) NULL,
	[OTRate] [decimal](5, 2) NULL,
	[AllowanceAmount] [decimal](18, 2) NULL,
	[InsuranceContribution] [decimal](18, 2) NULL,
	[SignedDate] [datetime] NULL,
	[SignedBy] [nvarchar](250) NULL,
	[ApprovalStatus] [varchar](50) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Contracts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [uniqueidentifier] NOT NULL,
	[MembershipLevelCatId] [uniqueidentifier] NULL,
	[CustomerCode] [varchar](50) NULL,
	[CustomerName] [nvarchar](250) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[Gender] [varchar](50) NULL,
	[TotalPoint] [int] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [uniqueidentifier] NOT NULL,
	[DepartmentCatId] [uniqueidentifier] NULL,
	[JobTitleCatId] [uniqueidentifier] NULL,
	[StoreId] [uniqueidentifier] NULL,
	[CountryCatId] [uniqueidentifier] NULL,
	[ProvinceCatId] [uniqueidentifier] NULL,
	[WardCatId] [uniqueidentifier] NULL,
	[EmployeeCode] [varchar](50) NULL,
	[EmployeeName] [nvarchar](250) NULL,
	[Gender] [varchar](50) NULL,
	[DateOfBirth] [datetime] NULL,
	[PhoneNumber] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[IdentityNumber] [varchar](20) NULL,
	[Address] [nvarchar](500) NULL,
	[HireDate] [datetime] NULL,
	[TerminationDate] [datetime] NULL,
	[EmploymentStatus] [varchar](50) NULL,
	[IsMultiStore] [bit] NULL,
	[Photo] [varchar](500) NULL,
	[HealthInsuranceNumber] [varchar](50) NULL,
	[SocialInsuranceNumber] [varchar](50) NULL,
	[BankAccountNumber] [varchar](50) NULL,
	[BankName] [nvarchar](250) NULL,
	[EducationLevel] [nvarchar](250) NULL,
	[TaxCode] [varchar](50) NULL,
	[EmergencyContactName] [nvarchar](250) NULL,
	[EmergencyContactPhone] [varchar](20) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredients](
	[Id] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[UnitCatId] [uniqueidentifier] NULL,
	[IngredientCatId] [uniqueidentifier] NULL,
	[IngredientCode] [varchar](50) NULL,
	[IngredientName] [nvarchar](250) NULL,
	[ConversionRate] [decimal](18, 4) NULL,
	[StandardCost] [decimal](18, 2) NULL,
	[LastPurchaseCost] [decimal](18, 2) NULL,
	[MinStockLevel] [decimal](18, 4) NULL,
	[MaxStockLevel] [decimal](18, 4) NULL,
	[ReorderPoint] [decimal](18, 4) NULL,
	[ShelfLifeDays] [int] NULL,
	[IsBatchTracked] [bit] NULL,
	[IsExpiryTracked] [bit] NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Ingredients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryStocks]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryStocks](
	[Id] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[IngredientId] [uniqueidentifier] NULL,
	[CurrentQuantity] [decimal](18, 4) NULL,
	[ReservedQuantity] [decimal](18, 4) NULL,
	[LastTransactionAt] [datetime] NULL,
	[LastCost] [decimal](18, 2) NULL,
	[AverageCost] [decimal](18, 2) NULL,
	[RowVersion] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_InventoryStocks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryTransactions]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryTransactions](
	[Id] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[IngredientId] [uniqueidentifier] NULL,
	[ReferenceId] [uniqueidentifier] NULL,
	[TransactionType] [varchar](50) NULL,
	[ReferenceType] [varchar](50) NULL,
	[QuantityChange] [decimal](18, 4) NULL,
	[CostPerUnit] [decimal](18, 2) NULL,
	[TotalCost] [decimal](18, 2) NULL,
	[StockBefore] [decimal](18, 4) NULL,
	[StockAfter] [decimal](18, 4) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_InventoryTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[Id] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[OrderId] [uniqueidentifier] NULL,
	[InvoiceCode] [varchar](50) NULL,
	[InvoiceDate] [datetime] NULL,
	[InvoiceType] [varchar](50) NULL,
	[CustomerName] [nvarchar](250) NULL,
	[CustomerTaxCode] [varchar](50) NULL,
	[SubTotalAmount] [decimal](18, 2) NULL,
	[DiscountAmount] [decimal](18, 2) NULL,
	[TaxRate] [decimal](5, 2) NULL,
	[TaxAmount] [decimal](18, 2) NULL,
	[ServiceChargeRate] [decimal](5, 2) NULL,
	[ServiceChargeAmount] [decimal](18, 2) NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[RoundingAmount] [decimal](18, 2) NULL,
	[Currency] [varchar](20) NULL,
	[InvoiceStatus] [varchar](50) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveRequests]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveRequests](
	[Id] [uniqueidentifier] NOT NULL,
	[EmployeeId] [uniqueidentifier] NULL,
	[LeaveTypeCatId] [uniqueidentifier] NULL,
	[LeaveRequestCode] [varchar](50) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[TotalDays] [decimal](5, 2) NULL,
	[Reason] [nvarchar](500) NULL,
	[FileAttach] [varchar](500) NULL,
	[ApprovalStatus] [varchar](50) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_LeaveRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MailHistories]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MailHistories](
	[Id] [uniqueidentifier] NOT NULL,
	[MailTemplateId] [uniqueidentifier] NULL,
	[EntityId] [uniqueidentifier] NULL,
	[EntityType] [varchar](50) NULL,
	[ReceiverEmail] [varchar](100) NULL,
	[MailSubject] [nvarchar](500) NULL,
	[MailBody] [nvarchar](max) NULL,
	[SentStatus] [varchar](50) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_MailHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MailTemplates]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MailTemplates](
	[Id] [uniqueidentifier] NOT NULL,
	[MailTemplateCode] [varchar](50) NULL,
	[MailTemplateName] [nvarchar](250) NULL,
	[MailTemplateSubject] [nvarchar](500) NULL,
	[MailTemplateContent] [nvarchar](max) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_MailTemplates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationHistories]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationHistories](
	[Id] [uniqueidentifier] NOT NULL,
	[NotificationTemplateId] [uniqueidentifier] NULL,
	[ReceiverId] [uniqueidentifier] NULL,
	[EntityId] [uniqueidentifier] NULL,
	[EntityType] [varchar](50) NULL,
	[NotificationSubject] [nvarchar](500) NULL,
	[NotificationBody] [nvarchar](max) NULL,
	[IsRead] [bit] NULL,
	[ReadAt] [datetime] NULL,
	[SentStatus] [varchar](50) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_NotificationHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationTemplates]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationTemplates](
	[Id] [uniqueidentifier] NOT NULL,
	[NotificationTemplateCode] [varchar](50) NULL,
	[NotificationTemplateName] [nvarchar](250) NULL,
	[NotificationTemplateSubject] [nvarchar](500) NULL,
	[NotificationTemplateContent] [nvarchar](max) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_NotificationTemplates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NULL,
	[ProductId] [uniqueidentifier] NULL,
	[Quantity] [decimal](18, 2) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[BasePrice] [decimal](18, 2) NULL,
	[DiscountAmount] [decimal](18, 2) NULL,
	[TaxRate] [decimal](5, 2) NULL,
	[ServiceChargeRate] [decimal](5, 2) NULL,
	[LineTotal] [decimal](18, 2) NULL,
	[CostEstimate] [decimal](18, 2) NULL,
	[IsVoided] [bit] NULL,
	[VoidedReason] [nvarchar](500) NULL,
	[PreparedStatus] [varchar](50) NULL,
	[KitchenPrintedAt] [datetime] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItemToppings]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItemToppings](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderItemId] [uniqueidentifier] NULL,
	[ToppingId] [uniqueidentifier] NULL,
	[Quantity] [decimal](18, 2) NULL,
	[TotalPrice] [decimal](18, 2) NULL,
	[DeductInventory] [bit] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_OrderItemToppings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[CustomerId] [uniqueidentifier] NULL,
	[TableId] [uniqueidentifier] NULL,
	[OrderCode] [varchar](50) NULL,
	[OrderType] [varchar](50) NULL,
	[OrderStatus] [varchar](50) NULL,
	[CustomerCode] [varchar](50) NULL,
	[CustomerName] [nvarchar](250) NULL,
	[DeliveryAddress] [nvarchar](500) NULL,
	[SubTotalAmount] [decimal](18, 2) NULL,
	[DiscountAmount] [decimal](18, 2) NULL,
	[TaxAmount] [decimal](18, 2) NULL,
	[ServiceChargeAmount] [decimal](18, 2) NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[RoundingAmount] [decimal](18, 2) NULL,
	[Currency] [varchar](20) NULL,
	[PaymentStatus] [varchar](50) NULL,
	[OpenedAt] [datetime] NULL,
	[ClosedAt] [datetime] NULL,
	[ApprovalStatus] [varchar](50) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[OrderId] [uniqueidentifier] NULL,
	[InvoiceId] [uniqueidentifier] NULL,
	[PaymentMethod] [varchar](50) NULL,
	[PaymentProvider] [varchar](50) NULL,
	[PaidAmount] [decimal](18, 2) NULL,
	[Currency] [varchar](20) NULL,
	[ExchangeRate] [decimal](18, 4) NULL,
	[PaymentStatus] [varchar](50) NULL,
	[TransactionReference] [varchar](100) NULL,
	[PaidAt] [datetime] NULL,
	[ReceivedBy] [uniqueidentifier] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayrollItems]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayrollItems](
	[Id] [uniqueidentifier] NOT NULL,
	[PayrollId] [uniqueidentifier] NULL,
	[EmployeeId] [uniqueidentifier] NULL,
	[SalaryStructureId] [uniqueidentifier] NULL,
	[SalaryType] [varchar](50) NULL,
	[HourlyRate] [decimal](18, 2) NULL,
	[TotalWorkingMinutes] [int] NULL,
	[OvertimeMinutes] [int] NULL,
	[GrossSalary] [decimal](18, 2) NULL,
	[AllowanceAmount] [decimal](18, 2) NULL,
	[BonusAmount] [decimal](18, 2) NULL,
	[DeductionAmount] [decimal](18, 2) NULL,
	[NetSalary] [decimal](18, 2) NULL,
	[PaymentMethod] [varchar](50) NULL,
	[PaymentStatus] [varchar](50) NULL,
	[PaidAt] [datetime] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_PayrollItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payrolls]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payrolls](
	[Id] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[PayrollCode] [varchar](50) NULL,
	[PayrollPeriodStart] [datetime] NULL,
	[PayrollPeriodEnd] [datetime] NULL,
	[PayrollType] [varchar](50) NULL,
	[PayrollStatus] [varchar](50) NULL,
	[TotalGrossAmount] [decimal](18, 2) NULL,
	[TotalDeductionAmount] [decimal](18, 2) NULL,
	[TotalNetAmount] [decimal](18, 2) NULL,
	[GeneratedAt] [datetime] NULL,
	[ApprovalStatus] [varchar](50) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Payrolls] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[ProductCatId] [uniqueidentifier] NULL,
	[UnitCatId] [uniqueidentifier] NULL,
	[ProductCode] [varchar](50) NULL,
	[ProductName] [nvarchar](250) NULL,
	[BasePrice] [decimal](18, 2) NULL,
	[CostEstimate] [decimal](18, 2) NULL,
	[TaxRate] [decimal](5, 2) NULL,
	[ServiceChargeRate] [decimal](5, 2) NULL,
	[AllowDiscount] [bit] NULL,
	[AllowTopping] [bit] NULL,
	[AllowNote] [bit] NULL,
	[IsInventoryTracked] [bit] NULL,
	[Photo] [varchar](500) NULL,
	[SortOrder] [int] NULL,
	[IsAvailable] [bit] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[PromotionCode] [varchar](50) NULL,
	[MinOrderAmount] [decimal](18, 4) NULL,
	[DiscountType] [varchar](50) NULL,
	[DiscountValue] [decimal](18, 4) NULL,
	[MaxDiscountAmount] [decimal](18, 4) NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderItems]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderItems](
	[Id] [uniqueidentifier] NOT NULL,
	[PurchaseOrderId] [uniqueidentifier] NULL,
	[IngredientId] [uniqueidentifier] NULL,
	[Quantity] [decimal](18, 4) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[LineTotal] [decimal](18, 2) NULL,
	[ReceivedQuantity] [decimal](18, 4) NULL,
	[IsCompleted] [bit] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_PurchaseOrderItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrders]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrders](
	[Id] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[SupplierId] [uniqueidentifier] NULL,
	[PurchaseOrderCode] [varchar](50) NULL,
	[ExpectedDeliveryDate] [datetime] NULL,
	[SubTotalAmount] [decimal](18, 2) NULL,
	[TaxAmount] [decimal](18, 2) NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[Currency] [varchar](20) NULL,
	[PaymentStatus] [varchar](50) NULL,
	[ApprovalStatus] [varchar](50) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_PurchaseOrders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecipeItems]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecipeItems](
	[Id] [uniqueidentifier] NOT NULL,
	[RecipeId] [uniqueidentifier] NULL,
	[IngredientId] [uniqueidentifier] NULL,
	[Quantity] [decimal](18, 4) NULL,
	[CostPerUnit] [decimal](18, 2) NULL,
	[TotalCost] [decimal](18, 2) NULL,
	[IsOptional] [bit] NULL,
	[IsAutoDeduct] [bit] NULL,
	[WastagePercent] [decimal](5, 2) NULL,
	[PreparationStep] [int] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_RecipeItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipes](
	[Id] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[ProductId] [uniqueidentifier] NULL,
	[UnitId] [uniqueidentifier] NULL,
	[RecipeCode] [varchar](50) NULL,
	[RecipeVersion] [varchar](20) NULL,
	[RecipeName] [nvarchar](250) NULL,
	[IsDefault] [bit] NULL,
	[IsActive] [bit] NULL,
	[YieldQuantity] [decimal](18, 4) NULL,
	[TotalCostEstimate] [decimal](18, 2) NULL,
	[PreparationTimeSeconds] [int] NULL,
	[LossRatePercent] [decimal](5, 2) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Recipes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Refunds]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Refunds](
	[Id] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[PaymentId] [uniqueidentifier] NULL,
	[OrderId] [uniqueidentifier] NULL,
	[RefundAmount] [decimal](18, 2) NULL,
	[RefundMethod] [varchar](50) NULL,
	[RefundReason] [nvarchar](500) NULL,
	[ProcessedAt] [datetime] NULL,
	[ProcessedBy] [uniqueidentifier] NULL,
	[ApprovalStatus] [varchar](50) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Refunds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[Id] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NULL,
	[PermissionCode] [varchar](50) NULL,
	[PermissionValue] [nvarchar](500) NULL,
	[PermissionScope] [varchar](50) NULL,
	[IsGranted] [bit] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[RoleCode] [varchar](50) NULL,
	[RoleName] [nvarchar](250) NULL,
	[IsSystemRole] [bit] NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rosters]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rosters](
	[Id] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[EmployeeId] [uniqueidentifier] NULL,
	[ShiftId] [uniqueidentifier] NULL,
	[RosterCode] [varchar](50) NULL,
	[WorkDate] [datetime] NULL,
	[PlannedStartTime] [datetime] NULL,
	[PlannedEndTime] [datetime] NULL,
	[RosterStatus] [varchar](50) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Rosters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalaryStructures]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaryStructures](
	[Id] [uniqueidentifier] NOT NULL,
	[StructureCode] [varchar](50) NULL,
	[StructureName] [nvarchar](250) NULL,
	[SalaryType] [varchar](50) NULL,
	[BaseSalary] [decimal](18, 2) NULL,
	[HourlyRate] [decimal](18, 2) NULL,
	[OTRate] [decimal](5, 2) NULL,
	[NightShiftRate] [decimal](5, 2) NULL,
	[AllowanceAmount] [decimal](18, 2) NULL,
	[Allowance1] [decimal](18, 2) NULL,
	[Allowance2] [decimal](18, 2) NULL,
	[Allowance3] [decimal](18, 2) NULL,
	[Allowance4] [decimal](18, 2) NULL,
	[Allowance5] [decimal](18, 2) NULL,
	[Allowance6] [decimal](18, 2) NULL,
	[Allowance7] [decimal](18, 2) NULL,
	[Allowance8] [decimal](18, 2) NULL,
	[Allowance9] [decimal](18, 2) NULL,
	[Allowance10] [decimal](18, 2) NULL,
	[BonusRule] [nvarchar](500) NULL,
	[DeductionRule] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_SalaryStructures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shifts]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shifts](
	[Id] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[ShiftCode] [varchar](50) NULL,
	[ShiftName] [nvarchar](250) NULL,
	[StartTime] [time](0) NULL,
	[EndTime] [time](0) NULL,
	[BreakStartTime] [time](0) NULL,
	[BreakEndTime] [time](0) NULL,
	[PlannedWorkingMinutes] [int] NULL,
	[AllowLateMinutes] [int] NULL,
	[AllowEarlyLeaveMinutes] [int] NULL,
	[IsOvernight] [bit] NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Shifts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stores]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stores](
	[Id] [uniqueidentifier] NOT NULL,
	[ManagerId] [uniqueidentifier] NULL,
	[CountryCatId] [uniqueidentifier] NULL,
	[ProvinceCatId] [uniqueidentifier] NULL,
	[WardCatId] [uniqueidentifier] NULL,
	[StoreCode] [varchar](50) NULL,
	[StoreName] [nvarchar](250) NULL,
	[StoreType] [varchar](50) NULL,
	[BrandName] [nvarchar](250) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[Address] [nvarchar](500) NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
	[Timezone] [varchar](50) NULL,
	[Currency] [varchar](20) NULL,
	[OpeningDate] [datetime] NULL,
	[BusinessStatus] [varchar](50) NULL,
	[IsHeadOffice] [bit] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Stores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreSettings]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreSettings](
	[Id] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[StoreSettingCode] [varchar](50) NULL,
	[StoreSettingName] [nvarchar](250) NULL,
	[OpeningTime] [time](0) NULL,
	[ClosingTime] [time](0) NULL,
	[TaxRate] [decimal](5, 2) NULL,
	[ServiceChargeRate] [decimal](5, 2) NULL,
	[BillRoundingRule] [varchar](50) NULL,
	[BillRoundingValue] [int] NULL,
	[AllowSplitBill] [bit] NULL,
	[AllowPartialPayment] [bit] NULL,
	[EnableInventoryDeduction] [bit] NULL,
	[EnableRecipeCosting] [bit] NULL,
	[POSAutoPrintReceipt] [bit] NULL,
	[KitchenDisplayMode] [varchar](50) NULL,
	[PaymentMethod] [varchar](50) NULL,
	[ShiftRequired] [bit] NULL,
	[ApprovalRequiredForVoid] [bit] NULL,
	[ApprovalRequiredForRefund] [bit] NULL,
	[DataSyncMode] [varchar](50) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_StoreSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [uniqueidentifier] NOT NULL,
	[SupplierCatId] [uniqueidentifier] NULL,
	[CountryCatId] [uniqueidentifier] NULL,
	[ProvinceCatId] [uniqueidentifier] NULL,
	[WardCatId] [uniqueidentifier] NULL,
	[SupplierCode] [varchar](50) NULL,
	[SupplierName] [nvarchar](250) NULL,
	[ContactPerson] [nvarchar](250) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[Address] [nvarchar](500) NULL,
	[PaymentTerms] [varchar](100) NULL,
	[TaxCode] [varchar](50) NULL,
	[BankAccountInfo] [nvarchar](500) NULL,
	[IsPreferred] [bit] NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[Id] [uniqueidentifier] NOT NULL,
	[SystemSettingCode] [varchar](50) NULL,
	[SystemSettingName] [nvarchar](250) NULL,
	[SettingGroup] [varchar](50) NULL,
	[SettingKey] [varchar](100) NULL,
	[SettingValue] [nvarchar](500) NULL,
	[ValueType] [varchar](50) NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_SystemSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tables]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tables](
	[Id] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[TableCode] [varchar](50) NULL,
	[TableNumber] [nvarchar](250) NULL,
	[FloorOrZone] [nvarchar](250) NULL,
	[Capacity] [int] NULL,
	[Shape] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Tables] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeLogs]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeLogs](
	[Id] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[EmployeeId] [uniqueidentifier] NULL,
	[WorkDate] [datetime] NULL,
	[CheckInTime] [datetime] NULL,
	[CheckOutTime] [datetime] NULL,
	[CheckInSource] [varchar](50) NULL,
	[CheckOutSource] [varchar](50) NULL,
	[CheckInLatitude] [decimal](9, 6) NULL,
	[CheckInLongitude] [decimal](9, 6) NULL,
	[CheckOutLatitude] [decimal](9, 6) NULL,
	[CheckOutLongitude] [decimal](9, 6) NULL,
	[WorkingMinutes] [int] NULL,
	[OvertimeMinutes] [int] NULL,
	[LateMinutes] [int] NULL,
	[EarlyLeaveMinutes] [int] NULL,
	[AttendanceStatus] [varchar](50) NULL,
	[IsManualAdjusted] [bit] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_TimeLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Toppings]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Toppings](
	[Id] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[ProductId] [uniqueidentifier] NULL,
	[RecipeId] [uniqueidentifier] NULL,
	[ToppingCode] [varchar](50) NULL,
	[ToppingName] [nvarchar](250) NULL,
	[Price] [decimal](18, 4) NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Toppings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[RoleId] [uniqueidentifier] NULL,
	[StoreId] [uniqueidentifier] NULL,
	[AssignedAt] [datetime] NULL,
	[AssignedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/3/2026 3:56:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[EmployeeId] [uniqueidentifier] NULL,
	[UserCode] [varchar](50) NULL,
	[Username] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[PasswordHash] [varchar](1000) NULL,
	[PasswordSalt] [varchar](1000) NULL,
	[UserStatus] [varchar](50) NULL,
	[UserType] [varchar](50) NULL,
	[LastLoginAt] [datetime] NULL,
	[FailedLoginCount] [int] NULL,
	[PasswordExpiredAt] [datetime] NULL,
	[RequirePasswordChange] [bit] NULL,
	[TwoFactorEnabled] [bit] NULL,
	[IsDelete] [bit] NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Customers]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Employees]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Stores]
GO
ALTER TABLE [dbo].[ApprovalActions]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalActions_ApprovalRequests] FOREIGN KEY([ApprovalRequestId])
REFERENCES [dbo].[ApprovalRequests] ([Id])
GO
ALTER TABLE [dbo].[ApprovalActions] CHECK CONSTRAINT [FK_ApprovalActions_ApprovalRequests]
GO
ALTER TABLE [dbo].[ApprovalActions]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalActions_ApprovalSteps] FOREIGN KEY([ApprovalStepId])
REFERENCES [dbo].[ApprovalSteps] ([Id])
GO
ALTER TABLE [dbo].[ApprovalActions] CHECK CONSTRAINT [FK_ApprovalActions_ApprovalSteps]
GO
ALTER TABLE [dbo].[ApprovalActions]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalActions_Employees] FOREIGN KEY([ActionById])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[ApprovalActions] CHECK CONSTRAINT [FK_ApprovalActions_Employees]
GO
ALTER TABLE [dbo].[ApprovalFlows]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalFlows_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[ApprovalFlows] CHECK CONSTRAINT [FK_ApprovalFlows_Stores]
GO
ALTER TABLE [dbo].[ApprovalRequests]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalRequests_ApprovalFlows] FOREIGN KEY([ApprovalFlowId])
REFERENCES [dbo].[ApprovalFlows] ([Id])
GO
ALTER TABLE [dbo].[ApprovalRequests] CHECK CONSTRAINT [FK_ApprovalRequests_ApprovalFlows]
GO
ALTER TABLE [dbo].[ApprovalRequests]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalRequests_Employees] FOREIGN KEY([RequestedById])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[ApprovalRequests] CHECK CONSTRAINT [FK_ApprovalRequests_Employees]
GO
ALTER TABLE [dbo].[ApprovalStepAssignments]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalStepAssignments_ApprovalRequests] FOREIGN KEY([ApprovalRequestId])
REFERENCES [dbo].[ApprovalRequests] ([Id])
GO
ALTER TABLE [dbo].[ApprovalStepAssignments] CHECK CONSTRAINT [FK_ApprovalStepAssignments_ApprovalRequests]
GO
ALTER TABLE [dbo].[ApprovalStepAssignments]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalStepAssignments_ApprovalSteps] FOREIGN KEY([ApprovalStepId])
REFERENCES [dbo].[ApprovalSteps] ([Id])
GO
ALTER TABLE [dbo].[ApprovalStepAssignments] CHECK CONSTRAINT [FK_ApprovalStepAssignments_ApprovalSteps]
GO
ALTER TABLE [dbo].[ApprovalStepAssignments]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalStepAssignments_Employees] FOREIGN KEY([ApproverId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[ApprovalStepAssignments] CHECK CONSTRAINT [FK_ApprovalStepAssignments_Employees]
GO
ALTER TABLE [dbo].[ApprovalStepAssignments]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalStepAssignments_Employees1] FOREIGN KEY([DelegatedFromId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[ApprovalStepAssignments] CHECK CONSTRAINT [FK_ApprovalStepAssignments_Employees1]
GO
ALTER TABLE [dbo].[ApprovalSteps]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalSteps_ApprovalFlows] FOREIGN KEY([ApprovalFlowId])
REFERENCES [dbo].[ApprovalFlows] ([Id])
GO
ALTER TABLE [dbo].[ApprovalSteps] CHECK CONSTRAINT [FK_ApprovalSteps_ApprovalFlows]
GO
ALTER TABLE [dbo].[Cat_Provinces]  WITH CHECK ADD  CONSTRAINT [FK_Cat_Provinces_Cat_Countries] FOREIGN KEY([CountryCatId])
REFERENCES [dbo].[Cat_Countries] ([Id])
GO
ALTER TABLE [dbo].[Cat_Provinces] CHECK CONSTRAINT [FK_Cat_Provinces_Cat_Countries]
GO
ALTER TABLE [dbo].[Cat_Wards]  WITH CHECK ADD  CONSTRAINT [FK_Cat_Wards_Cat_Provinces] FOREIGN KEY([ProvinceCatId])
REFERENCES [dbo].[Cat_Provinces] ([Id])
GO
ALTER TABLE [dbo].[Cat_Wards] CHECK CONSTRAINT [FK_Cat_Wards_Cat_Provinces]
GO
ALTER TABLE [dbo].[ComboItems]  WITH CHECK ADD  CONSTRAINT [FK_ComboItems_Combos] FOREIGN KEY([ComboId])
REFERENCES [dbo].[Combos] ([Id])
GO
ALTER TABLE [dbo].[ComboItems] CHECK CONSTRAINT [FK_ComboItems_Combos]
GO
ALTER TABLE [dbo].[ComboItems]  WITH CHECK ADD  CONSTRAINT [FK_ComboItems_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ComboItems] CHECK CONSTRAINT [FK_ComboItems_Products]
GO
ALTER TABLE [dbo].[Combos]  WITH CHECK ADD  CONSTRAINT [FK_Combos_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Combos] CHECK CONSTRAINT [FK_Combos_Stores]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_Cat_ ContractTypes] FOREIGN KEY([ContractTypeCatId])
REFERENCES [dbo].[Cat_ ContractTypes] ([Id])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_Cat_ ContractTypes]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_Employees]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_MembershipLevels] FOREIGN KEY([MembershipLevelCatId])
REFERENCES [dbo].[Cat_MembershipLevels] ([Id])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_MembershipLevels]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Cat_Countries] FOREIGN KEY([CountryCatId])
REFERENCES [dbo].[Cat_Countries] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Cat_Countries]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Cat_Department] FOREIGN KEY([DepartmentCatId])
REFERENCES [dbo].[Cat_Department] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Cat_Department]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Cat_JobTitle] FOREIGN KEY([JobTitleCatId])
REFERENCES [dbo].[Cat_JobTitle] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Cat_JobTitle]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Cat_Provinces] FOREIGN KEY([ProvinceCatId])
REFERENCES [dbo].[Cat_Provinces] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Cat_Provinces]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Cat_Wards] FOREIGN KEY([WardCatId])
REFERENCES [dbo].[Cat_Wards] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Cat_Wards]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Stores]
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_Ingredients_Cat_IngredientCategories] FOREIGN KEY([IngredientCatId])
REFERENCES [dbo].[Cat_IngredientCategories] ([Id])
GO
ALTER TABLE [dbo].[Ingredients] CHECK CONSTRAINT [FK_Ingredients_Cat_IngredientCategories]
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_Ingredients_Cat_Units] FOREIGN KEY([UnitCatId])
REFERENCES [dbo].[Cat_Units] ([Id])
GO
ALTER TABLE [dbo].[Ingredients] CHECK CONSTRAINT [FK_Ingredients_Cat_Units]
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_Ingredients_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Ingredients] CHECK CONSTRAINT [FK_Ingredients_Stores]
GO
ALTER TABLE [dbo].[InventoryStocks]  WITH CHECK ADD  CONSTRAINT [FK_InventoryStocks_Ingredients] FOREIGN KEY([IngredientId])
REFERENCES [dbo].[Ingredients] ([Id])
GO
ALTER TABLE [dbo].[InventoryStocks] CHECK CONSTRAINT [FK_InventoryStocks_Ingredients]
GO
ALTER TABLE [dbo].[InventoryStocks]  WITH CHECK ADD  CONSTRAINT [FK_InventoryStocks_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[InventoryStocks] CHECK CONSTRAINT [FK_InventoryStocks_Stores]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_Ingredients] FOREIGN KEY([IngredientId])
REFERENCES [dbo].[Ingredients] ([Id])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_Ingredients]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_Stores]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Orders]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Stores]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRequests_Cat_LeaveTypes] FOREIGN KEY([LeaveTypeCatId])
REFERENCES [dbo].[Cat_LeaveTypes] ([Id])
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [FK_LeaveRequests_Cat_LeaveTypes]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRequests_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [FK_LeaveRequests_Employees]
GO
ALTER TABLE [dbo].[MailHistories]  WITH CHECK ADD  CONSTRAINT [FK_MailHistories_MailTemplates] FOREIGN KEY([MailTemplateId])
REFERENCES [dbo].[MailTemplates] ([Id])
GO
ALTER TABLE [dbo].[MailHistories] CHECK CONSTRAINT [FK_MailHistories_MailTemplates]
GO
ALTER TABLE [dbo].[NotificationHistories]  WITH CHECK ADD  CONSTRAINT [FK_NotificationHistories_NotificationTemplates] FOREIGN KEY([NotificationTemplateId])
REFERENCES [dbo].[NotificationTemplates] ([Id])
GO
ALTER TABLE [dbo].[NotificationHistories] CHECK CONSTRAINT [FK_NotificationHistories_NotificationTemplates]
GO
ALTER TABLE [dbo].[NotificationHistories]  WITH CHECK ADD  CONSTRAINT [FK_NotificationHistories_Stores] FOREIGN KEY([EntityId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[NotificationHistories] CHECK CONSTRAINT [FK_NotificationHistories_Stores]
GO
ALTER TABLE [dbo].[NotificationHistories]  WITH CHECK ADD  CONSTRAINT [FK_NotificationHistories_Users] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[NotificationHistories] CHECK CONSTRAINT [FK_NotificationHistories_Users]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Products]
GO
ALTER TABLE [dbo].[OrderItemToppings]  WITH CHECK ADD  CONSTRAINT [FK_OrderItemToppings_OrderItems] FOREIGN KEY([OrderItemId])
REFERENCES [dbo].[OrderItems] ([Id])
GO
ALTER TABLE [dbo].[OrderItemToppings] CHECK CONSTRAINT [FK_OrderItemToppings_OrderItems]
GO
ALTER TABLE [dbo].[OrderItemToppings]  WITH CHECK ADD  CONSTRAINT [FK_OrderItemToppings_Toppings] FOREIGN KEY([ToppingId])
REFERENCES [dbo].[Toppings] ([Id])
GO
ALTER TABLE [dbo].[OrderItemToppings] CHECK CONSTRAINT [FK_OrderItemToppings_Toppings]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Stores]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Tables] FOREIGN KEY([TableId])
REFERENCES [dbo].[Tables] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Tables]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Employees] FOREIGN KEY([ReceivedBy])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Employees]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Invoices] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Invoices]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Orders]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Stores]
GO
ALTER TABLE [dbo].[PayrollItems]  WITH CHECK ADD  CONSTRAINT [FK_PayrollItems_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[PayrollItems] CHECK CONSTRAINT [FK_PayrollItems_Employees]
GO
ALTER TABLE [dbo].[PayrollItems]  WITH CHECK ADD  CONSTRAINT [FK_PayrollItems_Payrolls] FOREIGN KEY([PayrollId])
REFERENCES [dbo].[Payrolls] ([Id])
GO
ALTER TABLE [dbo].[PayrollItems] CHECK CONSTRAINT [FK_PayrollItems_Payrolls]
GO
ALTER TABLE [dbo].[PayrollItems]  WITH CHECK ADD  CONSTRAINT [FK_PayrollItems_SalaryStructures] FOREIGN KEY([SalaryStructureId])
REFERENCES [dbo].[SalaryStructures] ([Id])
GO
ALTER TABLE [dbo].[PayrollItems] CHECK CONSTRAINT [FK_PayrollItems_SalaryStructures]
GO
ALTER TABLE [dbo].[Payrolls]  WITH CHECK ADD  CONSTRAINT [FK_Payrolls_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Payrolls] CHECK CONSTRAINT [FK_Payrolls_Stores]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Cat_ProductCategories] FOREIGN KEY([ProductCatId])
REFERENCES [dbo].[Cat_ProductCategories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Cat_ProductCategories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Cat_Units] FOREIGN KEY([UnitCatId])
REFERENCES [dbo].[Cat_Units] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Cat_Units]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Stores]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [FK_Promotions_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [FK_Promotions_Stores]
GO
ALTER TABLE [dbo].[PurchaseOrderItems]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrderItems_Ingredients] FOREIGN KEY([IngredientId])
REFERENCES [dbo].[Ingredients] ([Id])
GO
ALTER TABLE [dbo].[PurchaseOrderItems] CHECK CONSTRAINT [FK_PurchaseOrderItems_Ingredients]
GO
ALTER TABLE [dbo].[PurchaseOrderItems]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrderItems_PurchaseOrders] FOREIGN KEY([PurchaseOrderId])
REFERENCES [dbo].[PurchaseOrders] ([Id])
GO
ALTER TABLE [dbo].[PurchaseOrderItems] CHECK CONSTRAINT [FK_PurchaseOrderItems_PurchaseOrders]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrders_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [FK_PurchaseOrders_Stores]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrders_Suppliers] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [FK_PurchaseOrders_Suppliers]
GO
ALTER TABLE [dbo].[RecipeItems]  WITH CHECK ADD  CONSTRAINT [FK_RecipeItems_Ingredients] FOREIGN KEY([IngredientId])
REFERENCES [dbo].[Ingredients] ([Id])
GO
ALTER TABLE [dbo].[RecipeItems] CHECK CONSTRAINT [FK_RecipeItems_Ingredients]
GO
ALTER TABLE [dbo].[RecipeItems]  WITH CHECK ADD  CONSTRAINT [FK_RecipeItems_Recipes] FOREIGN KEY([RecipeId])
REFERENCES [dbo].[Recipes] ([Id])
GO
ALTER TABLE [dbo].[RecipeItems] CHECK CONSTRAINT [FK_RecipeItems_Recipes]
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD  CONSTRAINT [FK_Recipes_Cat_Units] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Cat_Units] ([Id])
GO
ALTER TABLE [dbo].[Recipes] CHECK CONSTRAINT [FK_Recipes_Cat_Units]
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD  CONSTRAINT [FK_Recipes_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Recipes] CHECK CONSTRAINT [FK_Recipes_Products]
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD  CONSTRAINT [FK_Recipes_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Recipes] CHECK CONSTRAINT [FK_Recipes_Stores]
GO
ALTER TABLE [dbo].[Refunds]  WITH CHECK ADD  CONSTRAINT [FK_Refunds_Employees] FOREIGN KEY([ProcessedBy])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Refunds] CHECK CONSTRAINT [FK_Refunds_Employees]
GO
ALTER TABLE [dbo].[Refunds]  WITH CHECK ADD  CONSTRAINT [FK_Refunds_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Refunds] CHECK CONSTRAINT [FK_Refunds_Orders]
GO
ALTER TABLE [dbo].[Refunds]  WITH CHECK ADD  CONSTRAINT [FK_Refunds_Payments] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[Payments] ([Id])
GO
ALTER TABLE [dbo].[Refunds] CHECK CONSTRAINT [FK_Refunds_Payments]
GO
ALTER TABLE [dbo].[Refunds]  WITH CHECK ADD  CONSTRAINT [FK_Refunds_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Refunds] CHECK CONSTRAINT [FK_Refunds_Stores]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Roles]
GO
ALTER TABLE [dbo].[Rosters]  WITH CHECK ADD  CONSTRAINT [FK_Rosters_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Rosters] CHECK CONSTRAINT [FK_Rosters_Employees]
GO
ALTER TABLE [dbo].[Rosters]  WITH CHECK ADD  CONSTRAINT [FK_Rosters_Shifts] FOREIGN KEY([ShiftId])
REFERENCES [dbo].[Shifts] ([Id])
GO
ALTER TABLE [dbo].[Rosters] CHECK CONSTRAINT [FK_Rosters_Shifts]
GO
ALTER TABLE [dbo].[Rosters]  WITH CHECK ADD  CONSTRAINT [FK_Rosters_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Rosters] CHECK CONSTRAINT [FK_Rosters_Stores]
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD  CONSTRAINT [FK_Shifts_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Shifts] CHECK CONSTRAINT [FK_Shifts_Stores]
GO
ALTER TABLE [dbo].[Stores]  WITH CHECK ADD  CONSTRAINT [FK_Stores_Employees] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Stores] CHECK CONSTRAINT [FK_Stores_Employees]
GO
ALTER TABLE [dbo].[StoreSettings]  WITH CHECK ADD  CONSTRAINT [FK_StoreSettings_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[StoreSettings] CHECK CONSTRAINT [FK_StoreSettings_Stores]
GO
ALTER TABLE [dbo].[Suppliers]  WITH CHECK ADD  CONSTRAINT [FK_Suppliers_Cat_Countries] FOREIGN KEY([CountryCatId])
REFERENCES [dbo].[Cat_Countries] ([Id])
GO
ALTER TABLE [dbo].[Suppliers] CHECK CONSTRAINT [FK_Suppliers_Cat_Countries]
GO
ALTER TABLE [dbo].[Suppliers]  WITH CHECK ADD  CONSTRAINT [FK_Suppliers_Cat_Provinces] FOREIGN KEY([ProvinceCatId])
REFERENCES [dbo].[Cat_Provinces] ([Id])
GO
ALTER TABLE [dbo].[Suppliers] CHECK CONSTRAINT [FK_Suppliers_Cat_Provinces]
GO
ALTER TABLE [dbo].[Suppliers]  WITH CHECK ADD  CONSTRAINT [FK_Suppliers_Cat_SupplierCategories] FOREIGN KEY([SupplierCatId])
REFERENCES [dbo].[Cat_SupplierCategories] ([Id])
GO
ALTER TABLE [dbo].[Suppliers] CHECK CONSTRAINT [FK_Suppliers_Cat_SupplierCategories]
GO
ALTER TABLE [dbo].[Suppliers]  WITH CHECK ADD  CONSTRAINT [FK_Suppliers_Cat_Wards] FOREIGN KEY([WardCatId])
REFERENCES [dbo].[Cat_Wards] ([Id])
GO
ALTER TABLE [dbo].[Suppliers] CHECK CONSTRAINT [FK_Suppliers_Cat_Wards]
GO
ALTER TABLE [dbo].[Tables]  WITH CHECK ADD  CONSTRAINT [FK_Tables_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Tables] CHECK CONSTRAINT [FK_Tables_Stores]
GO
ALTER TABLE [dbo].[TimeLogs]  WITH CHECK ADD  CONSTRAINT [FK_TimeLogs_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[TimeLogs] CHECK CONSTRAINT [FK_TimeLogs_Employees]
GO
ALTER TABLE [dbo].[TimeLogs]  WITH CHECK ADD  CONSTRAINT [FK_TimeLogs_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[TimeLogs] CHECK CONSTRAINT [FK_TimeLogs_Stores]
GO
ALTER TABLE [dbo].[Toppings]  WITH CHECK ADD  CONSTRAINT [FK_Toppings_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Toppings] CHECK CONSTRAINT [FK_Toppings_Products]
GO
ALTER TABLE [dbo].[Toppings]  WITH CHECK ADD  CONSTRAINT [FK_Toppings_Recipes] FOREIGN KEY([RecipeId])
REFERENCES [dbo].[Recipes] ([Id])
GO
ALTER TABLE [dbo].[Toppings] CHECK CONSTRAINT [FK_Toppings_Recipes]
GO
ALTER TABLE [dbo].[Toppings]  WITH CHECK ADD  CONSTRAINT [FK_Toppings_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Toppings] CHECK CONSTRAINT [FK_Toppings_Stores]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Stores]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Employees]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Stores]
GO
USE [master]
GO
